.wrapper {
  display: grid;
  grid-template-columns: 40px repeat(2, 0.75fr) 1.25fr 0.75fr 80px 70px;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border-bottom: 1px solid rgb(73, 71, 71);
  font-weight: bold;
}

.header {
  position: relative;
}

.arrow {
  font-size: 14px;
  cursor: pointer;
}

.search {
  float: right;
}

.modal {
  width: 240px;
  height: 100px;
  position: absolute;
  /* top: 20px;
  left: 60px; */
  background-color: #ffffff;
  border: 1px solid rgb(73, 71, 71);
  outline: 0;
  border-radius: 5px;
  padding: 10px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255,255,255,.6);
}

.modalButton {
  margin: 10px 10px 0 0;
}

/* .input {
  position: absolute;
  top: 20px;
  right: 0;
} */